section.s-form
	h2.visually-hidden Форма для заказа
	.form
		.container
			p.form__intro Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
		form.order-form(action="https://echo.htmlacademy.ru" method="post")
			.order-form__inner
				fieldset.order-form__group.order-form__group--top
					.order-form__container
						legend.order-form__title Тип
						ul.order-form__wrapper
							li.order-form__selection.order-form__selection--radio
								input.visually-hidden.order-form__type(type="radio" name="type" id="type-interior" value="interior-true" checked)
								label.order-form__label.order-form__label--radio(for="type-interior") Аксессуар для интерьера
							li.order-form__selection.order-form__selection--radio
								input.visually-hidden.order-form__type(type="radio" name="type" id="type-toys" value="interior-true")
								label.order-form__label.order-form__label--radio(for="type-toys") Детская игрушка
				fieldset.order-form__group--darkbg.order-form__group.order-form__group--top
					.order-form__container
						legend.order-form__title Цвет
						ul.order-form__wrapper.order-form__wrapper--checkbox
							li.order-form__selection.order-form__selection--checkbox
								input.visually-hidden.order-form__color(type="checkbox" name="white" id="color-white" value="interior-true" checked)
								label.order-form__label(for="color-white") Белый
							li.order-form__selection.order-form__selection--checkbox
								input.visually-hidden.order-form__color(type="checkbox" name="gray" id="color-gray" value="interior-true" checked)
								label.order-form__label(for="color-gray") Серый
							li.order-form__selection.order-form__selection--checkbox
								input.visually-hidden.order-form__color(type="checkbox" name="tiffani" id="color-tiffani" value="interior-true")
								label.order-form__label(for="color-tiffani") "Тиффани"
							li.order-form__selection.order-form__selection--checkbox
								input.visually-hidden.order-form__color(type="checkbox" name="black" id="color-black" value="interior-true")
								label.order-form__label(for="color-black") Черный
							li.order-form__selection.order-form__selection--checkbox
								input.visually-hidden.order-form__color(type="checkbox" name="pink" id="color-pink" value="interior-true")
								label.order-form__label(for="color-pink") Розовый
							li.order-form__selection.order-form__selection--checkbox
								input.visually-hidden.order-form__color(type="checkbox" name="orange" id="color-orange" value="interior-true")
								label.order-form__label(for="color-orange") Оранжевый
				fieldset.order-form__group
					legend.order-form__title ФИО
					.order-form__wrapper
						.order-form__text
							label.order-form__label Имя:
							input.order-form__input(type="text" name="name" placeholder="Введите ваше имя*" required)
						.order-form__text
							label.order-form__label Фамилия:
							input.order-form__input(type="text" name="name" placeholder="Укажите фалилию*" required)
						.order-form__text
							label.order-form__label Отчество
							input.order-form__input(type="text" name="name" placeholder="Отчество, если желаете")
				fieldset.order-form__group.order-form__group--darkbg
					.order-form__wrapper.order-form__wrapper--contacts
						legend.order-form__title.order-form__title--contacts Тел
						.order-form__wrapper--inner
							input.order-form__input.order-form__input--contacts(type="tel" value="" placeholder="+7 XXX XX XX*")
							+icon('telephone','icon__telephone order-form__icon order-form__icon--telephone','25px','25px')
					.order-form__wrapper
						legend.order-form__title.order-form__title--contacts E-mail
						.order-form__wrapper--inner
							input.order-form__input.order-form__input--contacts(type="email" value="" placeholder="Ваш E-mail*")
							+icon('envelope','icon__mail order-form__icon order-form__icon--email','43px','33px')
				fieldset.order-form__group
					legend.order-form__title Доп
					.order-form__wrapper
						.order-form__textarea
							textarea.order-form__wishes(name="text" rows="5" cols="10" placeholder="Опишите все ваши пожелания к заказу")
			.order-form__bottom
				.container
					p.order-form__note <sup>*</sup> Поля обязательные для заполнения
					input.order-form__button.button(type="submit" value="Отправить заказ")