nav.main-nav
    ul.main-nav__list.site-list
        li.site-list__item
            a(href="#").site-list__link Каталог товаров
        li.site-list__item
            a(href="#").site-list__link Вязание на заказ
    ul.main-nav__list.user-list
        li.user-list__item.user-list__item__search
            a(href="#").user-list__link Поиск по сайту
        li.user-list__item.user-list__item--basket
            a(href="#").user-list__link Корзина: пока пуста