.s-catalog {
  &__title {
    background-color: $bg-color-gray;
    display: block;
    font-size: 27px;
    margin-bottom: 30px;
    padding: 70px 20px;
    text-align: center;
  }
}

.catalog {
  &__item {
    margin-bottom: 30px;
  }
  &__wrapper {
    border: 1px solid $border-color;
    padding: 25px 28px;
  }
  &__title {
    color: $black;
    display: block;
    font-family: $main-font;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 15px;
    text-align: left;
  }
  &__description {
    border-bottom: 1px solid $border-color;
    display: block;
    color: $base-text-color;
    font-size: 13px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    line-height: 30px;
  }
  &__image {
    height: auto;
    width: 100%;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price {
    display: block;
    font-family: $main-font;
  }
  &__card {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }
}

.catalog-production {
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  &__title {
    position: relative;
    margin-bottom: 20px;
    padding-left: 90px;
    padding-right: 34px;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__icon {
    &--video {
      fill: $bg-color-lightGreen;
      left: 34px;
      position: absolute;
      top: calc(50% - 16px);
    }
    &--play {
      left: calc(50% - 50px);
      position: absolute;
      top: calc(50% - 38px);
    }
  }
  &__wrapper {
    padding: 0 34px;
  }
  &__video {
    display: block;
    margin-bottom: 30px;
    position: relative;
  }
}