.about-us {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet-size) {
    margin-bottom: 160px;
  }
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 165px;
  }
  &__title {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet-size) {
      margin-bottom: 45px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet-size) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__item {
    @media screen and (min-width: $tablet-size) {
      &--ball {
        order: 1;
      }
      &--money {
        order: 2;
      }
      &--rocket {
        order: 3;
      }
      &--heart {
        order: 4;
      }
      &--gift {
        order: 5;
      }
    }
  }
}

.about-list {
  font-family: $main-font;
  font-size: 17px;
  line-height: 20px;
  &__item {
    padding-right: 50px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    @media screen and (min-width: $tablet-size){
      flex-basis: 50%;
      &:not(:nth-child(3n)) {
        margin-bottom: 55px;
      }
      &:nth-child(3n) {
        margin-bottom: 0;
      }
    }
  }
  &__image {
    fill: #63d1bb;
    margin-bottom: 15px;
    &--flower {
      @include size(32px,37px);
    }
    &--money {
      @include size(47px,27px);
    }
    &--heart {
      @include size(34px,27px);
    }
    &--ball {
      @include size(35px,34px);
    }
    &--rocket {
      @include size(55px,23px);
    }
    &--gift {
      @include size(33px,32px);
    }
  }
  &__advantage {
    @media screen and (min-width: $tablet-size) {
      font-size: 20px;
      line-height: 22px;
    }
  }
}