.promo {
  background-color: $bg-color-gray;
  &__title {
    background: $bg-color-gray url("/static/images/general/hero-mobile.jpg") no-repeat center -20px;
    font-size: 27px;
    line-height: 30px;
    padding: 70px 50px 120px 50px;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      background: url("/static/images/general/hero-tablet.jpg") no-repeat center 20px;
      font-family: $main-font;
      font-size: 43px;
      line-height: 50px;
      padding: 160px 100px 390px 100px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet-size) {
      flex-direction: row;
    }
  }
  &__item {
    flex-basis: 50%;
  }
}
.site-promo {
  font-size: 19px;
  line-height: 24px;
  &__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    &--lamp {
      background-color: $bg-color-lightGreen;
    }
    &--toys {
      background-color: $bg-color-darkGreen;
    }
  }
  &__image {
    @include size(60px);
    margin-right: 30px;
    opacity: 0.1;
  }
  &__link {
    display: block;
    color: $white;
    font-family: $main-font;
    padding: 27px 20px 27px 30px;
  }
}