.promo {
  background-color: $bg-color-gray;
  @media screen and (min-width: $tablet-size) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 130px;
  }
  .container {
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
  &::after {
    @media screen and (min-width: $tablet-size) {
      content: "";
      position: absolute;
      bottom: -15px;
      width: 100%;
      height: 34px;
      background: url("../images/general/bg-zigzag-fill.svg") repeat-x center;
    }
  }
  &__title {
    background: $bg-color-gray url("../images/general/hero-mobile.jpg") no-repeat center -20px;
    font-size: 27px;
    font-family: $main-font;
    line-height: 30px;
    padding: 70px 30px 120px 30px;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      background: url("../images/general/hero-tablet.jpg") no-repeat center 20px;
      font-family: $main-font;
      font-size: 43px;
      line-height: 50px;
      padding: 160px 100px 390px 100px;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 53px;
      line-height: 57px;
      padding: 160px 100px 376px 100px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet-size) {
      flex-direction: row;
    }
  }
  &__item {
    flex-basis: 50%;
  }
  &__link {
    padding: 27px 20px 27px 30px;
    @media screen and (min-width: $tablet-size) {
      padding: 35px;
    }
  }
}
.site-promo {
  font-size: 19px;
  line-height: 24px;
  &__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all linear 0.2s;
    &:hover {
      transform: translateY(-5px);
      .site-promo__image {
        opacity: 0.7;
      }
    }
    &:active {
      .site-promo__image {
        opacity: 0.3;
      }
      .site-promo__link {
        color: rgba(255, 255, 255, 0.3);
      }
    }
    &--lamp {
      background-color: $bg-color-lightGreen;
      &:hover {
        background-color: #59d5bc;
      }
    }
    &--toys {
      background-color: $bg-color-darkGreen;
      &:hover {
        background-color: #46c1ae;
      }
    }
  }
  &__image {
    @include size(60px);
    fill: #149080;
    margin-right: 30px;
    opacity: 0.5;
    transition: all linear 0.2s;
  }
  &__link {
    color: $white;
    display: block;
    font-family: $main-font;
    transition: all linear 0.2s;
  }
}