section.about-us
    .container
        h2.title.about-us__title Коротко о нас:
        .about-us__wrapper
            ul.about-us__list.about-list
                li.about-list__item.about-us__item--flower
                    +icon('icon-feature-flower','about-list__image about-list__image--flower')
                    p.about-list__advantage Экологически чистые<br> материалы
                li.about-list__item.about-us__item--money
                    +icon('icon-feature-money','about-list__image about-list__image--money')
                    p.about-list__advantage Скандинавский стиль<br> по российской цене
                li.about-list__item.about-us__item--heart
                    +icon('icon-feature-heart','about-list__image about-list__image--heart')
                    p.about-list__advantage Увеличивает лайки<br> на фотографиях
                li.about-list__item.about-us__item--ball
                    +icon('icon-feature-ball','about-list__image about-list__image--ball')
                    p.about-list__advantage Связано в ручную с<br> любовью и умилинием
                li.about-list__item.about-us__item--rocket
                    +icon('icon-feature-rocket','about-list__image about-list__image--rocket')
                    p.about-list__advantage Поддержка отечественного<br> производителя
                li.about-list__item.about-us__item--gift
                    +icon('icon-feature-gift','about-list__image about-list__image--gift')
                    p.about-list__advantage Поставляется в<br> подарочной упаковке