section.about-us
    .container
        h2.about-us__title Коротко о нас:
        ul.about-us__list.about-list
            li.about-list__item.about-list__item--clear
                p.about-list__advantage Экологически чистые материалы
            li.about-list__item.about-list__item--price
                p.about-list__advantage Скандинавский стиль по российской цене
            li.about-list__item.about-list__item--like
                p.about-list__advantage Увеличивает лайки на фотографиях
            li.about-list__item.about-list__item--heandmade
                p.about-list__advantage Связано в ручную с любовью и умилинием
            li.about-list__item.about-list__item--support
                p.about-list__advantage Поддержка отечественного производителя
            li.about-list__item.about-list__item--packaging
                p.about-list__advantage Поставляется в подарочной упаковке