section.contacts
    .container
        h2.contacts__title Контакты
        ul.contacts__list
            li.contacts__item
                span.contacts__parameter email:
                a(href="mailto:info@mimimishkashop.ru").contacts__value.contacts__value--email info@mimimishkashop.ru
            li.contacts__item
                span.contacts__parameter адрес:
                p.contacts__value г. Санкт-Петербург,<br> ул. Большая Конюшенная,<br> д. 19/8, офис 101
    p.contacts__find-us
        img(src="http://placehold.it/322x457" width=322 height=457 alt="Как до нас добраться").contacts__map
    .container
        button(type="button").contacts__button.button Напишите нам