section.contacts
    h2.contacts__title Контакты
    table.contacts__list
        tr
            td.contacts__parameter email
            td.contacts__value info@mimimishkashop.ru
        tr
            td.contacts__parameter адрес
            td.contacts__value г. Санкт-Петербург, ул. Большая Конюшенная, д. 19/8, офис 101
    p.contacts__find-us
        img(src="http://placehold.it/322x457" width=322 height=457 alt="Как до нас добраться").contacta__map
    button(type="button").contacts__button.button Напишите нам