section.product
    h2.product__title Вязаные корзинки
    span.product__week Товар недели
    p.product__description Экологически чистая пряжа, ручной работы. Доступты в шести расцветках, трех размерах.
    table.product__list
        tr
            td.product__parameter Цвет:
            td.product__value "Тиффани"/серый
        tr
            td.product__parameter Диаметр:
            td.product__value 25 см
        tr
            td.product__parameter Высота
            td.product__value 15 см
    a.product__product-picture
        img.product__product-image(src="http://placehold.it/260x315" width=260 height=315 alt="Вязаные корзинки")
    p.product__price Цена: 990 руб.
    button(type="button").button.product__button Заказать