section.product
    .container.container__mobile
        .product__wrapper
            .product__top
                h2.title.product__title Вязаные корзинки
                span.product__week Товар недели
            .product__middle
                p.product__description Экологически чистая пряжа,<br> ручной работы. Доступты в шести расцветках, трех размерах.
                table.product__list.product-table
                    tr.product-table__row
                        td.product-table__parameter Цвет:
                        td.product-table__value «Тиффани»/серый
                    tr.product-table__row
                        td.product-table__parameter Диаметр:
                        td.product-table__value 25 см
                    tr.product-table__row
                        td.product-table__parameter Высота
                        td.product-table__value 15 см
            .product__bottom
                p.product__price Цена: 990 руб.
                button(type="button").button.product__button Заказать
            .product__product-picture
                img.product__product-image(src="/static/images/general/triple-set-mobile.jpg" width=260 height=315 alt="Вязаные корзинки")