section.promo
    .container
        h2.promo-title Милые штучки ручной работы для дома
        ul.promo-list.site-promo
            li.site-promo__item.site-promo__item--lamp
                a(href="#").site-promo__link Предметы интерьера
            li.site-promo__item.site-promo__item--toys
                a(href="#").site-promo__link Детские игрушки