section.promo
    .promo__wrapper
        h2.promo__title Милые штуки<br> ручной<br> работы для дома
        ul.promo__list.site-promo
            li.site-promo__item.site-promo__item--lamp
                a(href="#").site-promo__link Предметы<br> интерьера
                +icon('icon-interior','site-promo__image')
            li.site-promo__item.site-promo__item--toys
                a(href="#").site-promo__link Детские<br> игрушки
                +icon('icon-toy','site-promo__image')