section.reviews
    .reviews__wrapper.slider
        h2.reviews__title Отзывы
        a(href="#").reviews__write.button Написать
        .reviews__list.slider__list
            blockquote.reviews__item.slider__item
                p.reviews__text Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
                cite.reviews__author.reviews__author--name Анастасия Красильникова
                cite.reviews__author.reviews__author--link @misssssiskras
            blockquote.reviews__item.slider__item
                p.reviews__text Это второй отзыв на сайте для пробы реализации нормального слайдера ну тут посмторим что получится
                cite.reviews__author.reviews__author--name Трампумкин Бычарский
                cite.reviews__author.reviews__author--link @trambbIk
            blockquote.reviews__item.slider__item
                p.reviews__text Третий отзыв для закрепления успеха в реализации слайдера
                cite.reviews__author.reviews__author--name Просто норм чувак
                cite.reviews__author.reviews__author--link @niceman
            button(type="button").reviews__button.reviews__button--prev Предыдущий отзыв
            button(type="button").reviews__button.reviews__button--next Следующий отзыв