extends template/main

block variables
	- var title = 'HTML Academy. Mishka'
	- var pageClass = 'index-page'

block content
	h1.visually-hidden.page-title Главная страница маазина "Мишка"
	include modules/main/promo
	include modules/main/product
	include modules/main/about-us
	include modules/main/reviews
	include modules/main/contacts

