// Colors
$white: #ffffff;
$black: #000000;

$border-color: #ececec;

// Sizes
$base-font-size: 15px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1150px;

// Fonts
$main-font: 'Open Sans Bold', sans-serif;
$second-font: 'Open Sans Regular', sans-serif;