.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: $main-font;
  min-height: 52px;
  color: $base-text-color;
  font-size: 17px;
  line-height: 20px;
  background: $white;
  border: 2px solid $base-text-color;
  text-transform: uppercase;
  padding: 10px;
  white-space: normal;
  cursor: pointer;
}

.button-reviews {
  border: none;
  background-color: transparent;
  flex-basis: 50%;
  padding: 13px 0;
  &:not(:last-child) {
    margin-right: 37px;
  }
}

.button-arrow {
  @include size(50px,26px);
  &--right {
    transform: rotate(180deg);
  }
}