.icon {
  &__card {
    @include size(20px, 19px);
    opacity: 0.2;
    &:hover {
      fill: $color-hover;
      opacity: 1;
    }
    &:active { opacity: 0.3; }
  }
  &__video {
    @include size(32px, 32px);
  }
  &__play {
    @include size(100px, 76px);
  }
  &__zigzag {
    @include size(100%, 23px);
  }
  &__telephone {
    @include size(25px, 25px);
  }
  &__email {
    @include size(42px, 33px);
  }
}