section.catalog
	h1.title.catalog__title Каталог товаров
	.container
		.catalog__wrapper
			ul.catalog__list.products__list
				li.products__item
					img(src="/static/images/general/photo-1-mobile@1x.jpg" width="260" height="195" alt="Зайчик-попрыгайчик").products__image