.main-nav {
  position: relative;
  @media screen and (min-width: $tablet-size) {
    display: flex;
    flex-direction: row;
  }
  &__top {
    @media screen and (min-width: $tablet-size) {
      position: absolute;
      height: 88px;
    }
    @media screen and (min-width: $desktop-size) {
      left: calc(50% - 75px);
    }
  }
  &__bottom {
    @media screen and (min-width: $tablet-size) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  &__logo {
    background: url('../images/general/mobile-logo.svg') no-repeat center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    &[href]:hover { opacity: 0.6; }
    &[href]:active { opacity: 0.3; }
    @media screen and (min-width: $tablet-size) {
      background: url('../images/general/tablet-logo.svg') no-repeat center;
      width: 112px;
      height: 88px;
      box-shadow: none;
    }
    @media screen and (min-width: $desktop-size) {
      background: url('../images/general/desktop-logo.svg') no-repeat center;
      width: 150px;
    }
    &--mobile {
      display: block;
      @include size(86px, 35px);
      @media screen and (min-width: $tablet-size) { display: none; }
    }
    &--tablet {
      display: none;
      @include size(112px, 46px);
      @media screen and (min-width: $tablet-size) and (max-width: 1149px) {
        display: block;
      }
    }
    &--desktop {
      display: none;
      @include size(150px, 72px);
      @media screen and (min-width: $desktop-size) { display: block; }
    }
  }
  &__list {
    font-family: $main-font;
    font-size: 17px;
    @media screen and (min-width: $tablet-size) {
      display: flex;
      flex-direction: row;
    }
  }
  &__item {
    position: relative;
    padding: 28px 30px 28px 75px;
    min-width: 83px;
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
    @media screen and (min-width: $tablet-size) { box-shadow: none; }
  }
  &__text {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: block;
      position: relative;
      color: $base-text-color;
      margin-left: auto;
      padding: 15px 0;
      order: 4;
      z-index: 1;
    }
  }
}
.site-list {
  position: relative;
  z-index: 1;
  @media screen and (min-width: $tablet-size) {
    margin-right: auto;
    order: 2;
  }
  @media screen and (min-width: $desktop-size) {
    flex-basis: 50%;
    order: 1;
  }
  &__item {
    @media screen and (min-width: $tablet-size) {
      padding: 15px 0;
      & *:not(last-child) { margin-right: 35px; }
    }
    @media screen and (min-width: $desktop-size) {
      padding: 32px 0 32px 32px;
      &:first-child {
        box-shadow: 1px 0 0 0 $border-color;
        padding-left: 0;
      }
    }
  }
  &__link {
    color: $black;
    &[href]:hover { opacity: 0.6; }
    &[href]:active { opacity: 0.3; }
    @media screen and (min-width: $tablet-size) { font-size: 15px; }
    @media screen and (min-width: $desktop-size) { font-size: 17px; }
  }
}
.user-list {
  @media screen and (min-width: $tablet-size) {
    flex-basis: 100%;
    justify-content: flex-end;
    order: 1;
  }
  @media screen and (min-width: $desktop-size) {
    flex-basis: 50%;
    order: 2;
  }
  &__item {
    @media screen and (min-width: $tablet-size){
      padding: 32px 0 32px 32px;
      box-shadow: -1px 0 0 0 $border-color;
    }
  }
  &__link {
    display: block;
    color: $black;
    &:hover {
      opacity: 0.6;
      svg {
        opacity: 1;
        fill: $bg-color-lightGreen;
      }
    }
    &:active {
      opacity: 0.3;
    }
    &--card {
      @media screen and (min-width: $tablet-size) { padding-left: 50px; }
    }
  }
  &__image {
    position: absolute;
    top: 33px;
    left: 30px;
    opacity: 0.2;
    &--search {
      @include size(18px,18px);
      @media screen and (min-width: $tablet-size) {
        position: relative;
        left: 0;
        top: 0;
      }
    }
    &--card { @include size(21px,18px); }
  }
}
.site-offers {
  display: none;
  @media screen and (min-width: $desktop-size) {
    display: flex;
    order: 3;
    z-index: 1;
  }
  &__item {
    padding: 15px 0;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  &__link {
    color: $black;
    font-family: $main-font;
    &:hover { opacity: 0.6; }
    &:active { opacity: 0.3; }
  }
}