.reviews {
  margin-bottom: 90px;
  @media screen and (min-width: $tablet-size) {
    margin-bottom: 130px;
  }
  @media screen and (min-width: $desktop-size) {
    width: 1150px;
    margin: 0 auto 160px;
  }
  &__image {
    @media screen and (min-width: $tablet-size) {
      background: url("../images/general/review.jpg") no-repeat;
      width: 100%;
      max-height: 457px;
    }
    @media screen and (min-width: $desktop-size) {
      background: none;
      &::before {
        content: "";
        top: 0;
        left: 50px;
        position: absolute;
        background: url("../images/general/review.jpg") no-repeat;
        width: 350px;
        height: 457px;
      }
    }
  }
  &::before {
    @media screen and (min-width: $tablet-size) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: url("../images/general/review.jpg") no-repeat;
      width: 350px;
      height: 457px;
    }
    @media screen and (min-width: $desktop-size) {
      left: 50px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 6px;
    background: url("../images/general/zigzag-line-mobile.png") repeat-x center;
    @media screen and (min-width: $tablet-size) {
      bottom: -76px;
      height: 17px;
      background: url("../images/general/zigzag-line-tablet.png") repeat-x center;
    }
    @media screen and (min-width: $desktop-size) {
      bottom: -90px;
      left: calc(50% - 575px);
      background: url("../images/general/zigzag-line-desktop.png") no-repeat center;
      height: 23px;
      width: 1150px;
    }
  }
  &__top {
    margin-bottom: 35px;
    @media screen and (min-width: $tablet-size) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 45px;
      padding-top: 80px;
    }
  }
  &__title {
    @media screen and (min-width: $desktop-size) {
      margin-left: 175px;
    }
  }
  &__write {
    &--top {
      display: block;
      width: 175px;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    &--bottom {
      display: block;
      @media screen and (min-width: $tablet-size) {
        display: none;
      }
    }
  }
  &__list {
    color: $base-text-color;
    line-height: 30px;
    @include clearfix;
    @media screen and (min-width: $tablet-size) {
    padding-bottom: 46px;
  }
    @media screen and (min-width: $desktop-size) {
      padding-bottom: 86px;
    }
  }
  &__item {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet-size) {
      margin: 0;
    }
  }
  &__text {
    margin-bottom: 35px;
    @media screen and (min-width: $tablet-size) {
      font-size: 17px;
      margin-bottom: 60px;
      overflow: auto;
      height: 120px;
    }
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 45px;
      margin-left: 175px;
      padding-right: 90px;
      height: 90px;
    }
  }
  &__authors {
    @media screen and (min-width: $tablet-size) {
      float: left;
    }
    @media screen and (min-width: $desktop-size) {
      margin-left: 175px;
    }
  }
  &__author {
    display: block;
    color: $black;
    font-family: $main-font;
    font-size: 17px;
    line-height: 24px;
    font-style: normal;
    &--link {
      color: $base-text-color;
      font-family: $second-font;
      line-height: 30px;
    }
  }
  &__buttons {
    display: flex;
    border: 1px solid $border-color;
    margin-bottom: 40px;
    @media screen and (min-width: $tablet-size) {
      float: right;
      margin-bottom: 0;
      border: none;
    }
    &::after {
      content: "";
      background-color: $border-color;
      position: absolute;
      width: 1px;
      height: 52px;
      left: 50%;
      @media screen and (min-width: $tablet-size) {
        display: none;
      }
    }
  }
}