footer.footer
    .container
        .footer__social.social
            ul.social__list
                li.social__item
                    a(href="https://www.instargam.com/htmlacademy" target="_blank").social__link.social__link--instagram Мы в инстаграм
                li.social__item
                    a(href="https://www.facebook.com/htmlacademy" target="_blank").social__link.social__link--facebook Мы в фэйсбуке
                li.social__item
                    a(href="https://vk.com/htmlacademy" target="_blank").social__link.social__link--twitter Мы в твиттере
            .footer__copyright.copyright
                b.copyright__text Разработано:
                a(href="https://htmlacademy.ru").copyright__link HTML Academy